@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Ubuntu:wght@300;400&display=swap');

body {

    font-family: 'Ubuntu', 'Poppins', sans-serif;
    background-image: url("../assets/backgroundImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: 'Ubuntu';
}

#main_navlink {
    text-decoration: none;
    color: #000;
}

#cart_icon {

    border: 0 !important;
    align-items: center;
    width: 30px;
    height: 30px;
}

#admin_btn {
    margin-right: 20px;
    align-items: center;
    width: 70px;
    height: 30px;
    box-shadow: none !important;
}

#exit_btn {
    box-shadow: none !important;
    align-items: center;
    width: 50px;
    height: 30px;
}

.cart_btn {
    outline: 0;
    border: none;
    background-color: none;
    margin-left: 10px;
    width: 60px;
    height: 40px;
    box-shadow: none !important;
    outline-offset: 0;
}

/* .cart_btn:hover {
    outline: none;
    outline: none;
    border: none;
    box-shadow: none;
} */

/* :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
} */

#auth_btn {
    box-shadow: none !important;
    outline: 0;
    border: none;
    background-color: none;
    margin-right: 50px;
    width: 60px;
    height: 40px;
    box-shadow: none;
    outline-offset: 0;
}

#device_name {
    font-size: 15px;
}

.brand_card {
    border: 2px solid none !important;
    width: 60px;
    height: 40px;
    padding-top: 7px;
    margin-left: 15px;
    text-align: center;
    background-color: none !important;
}

.brand_card:active {
    border: 2px solid #E6E6F1;
    width: 60px;
    height: 40px;
    padding-top: 7px;
    margin-left: 15px;
    text-align: center;
    background-color: none !important;
}

.brand_card:hover {
    border: 2px solid #E6E6F1;
    width: 60px;
    height: 40px;
    padding-top: 7px;
    margin-left: 15px;
    text-align: center;
    background-color: none !important;
}